#circle-content {
    text-align: center;
    margin-top: 630px;
}

#circle {
    background-color: rgb(165, 42, 42);
    width: 1000px;
    height: 800px;
    overflow: hidden;
    border-radius: 0 0 70% 70%;
    margin: -600px auto 0;
   
}

a {
    color: black;
    
}

li {
    margin-bottom: 20px;
    background-color: rgb(175, 64, 64);
    border-radius: 25px;
    height: 20px;
    text-align: center;
}

.one {
    width: 24%;
}

.two {
    width: 18%;
}

.three {
    width: 17%;
}